/.DS_Store
/adafruit-circuitpython-bundle-8.x-mpy-20230828
/adafruit-circuitpython-bundle-8.x-mpy-20230828.zip
/adafruit-circuitpython-bundle-9.x-mpy-20240625
/adafruit-circuitpython-bundle-9.x-mpy-20240625.zip
/adafruit-circuitpython-itsybitsy_m4_express-en_US-9.0.5.uf2
/adafruit-circuitpython-max7219-8.x-mpy-1.5.11
/adafruit-circuitpython-max7219-8.x-mpy-1.5.11.zip